:root {
  --gridSize: 8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: 95vh;
  box-sizing: border-box;
}

.welcome-wrapper {
  display: flex;
  flex-direction: column;
  width: clamp(0, 100%, 800px);
  max-width: 800px;
  margin: auto;
  height: 100%;
  border: solid 1px red;
  justify-content: center;
  align-items: center;
}

.temp-messages {
  width: 100vw;
  font-size: 3rem;
}

.battleship-title {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.battleship-title__content {
  font-size: 3rem;
}

.battleship-playing-field {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.battleship-player-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battleship-player-field__battleship-grid {
  display: grid;
  grid-template-columns: repeat(var(--gridSize), 1fr);
  grid-template-rows: repeat(var(--gridSize), 1fr);
  margin: 1rem;

  background: rgb(0, 80, 122);
  background: linear-gradient(
    135deg,
    rgba(0, 80, 122, 1) 0%,
    rgba(0, 93, 143, 1) 46%,
    rgba(0, 106, 163, 1) 100%
  );

  border: solid 0.2rem #001b29;
}

@media (max-width: 500px) {
  .battleship-player-field__battleship-grid {
    width: clamp(200px, 90vw, 380px);
    height: clamp(200px, 90vw, 380px);
  }

  .battleship-playing-field {
    flex-direction: column;
  }
}

@media (min-width: 501px) {
  .battleship-player-field__battleship-grid {
    width: 45vw;
    height: 45vw;
  }

  .battleship-playing-field {
    flex-direction: row;
  }
}

.battleship-player-field__title {
  font-size: 2rem;
}
.battleship-player-field__message {
  font-size: 1.5rem;
}

.battleship-square--empty {
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.battleship-square--ship {
  background-color: #adb5bd;
  border: solid 1px #495057;
}

.battleship-square--empty-hit {
  background-color: #003049;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.battleship-square--ship-hit {
  background-color: #d62828;
  border: solid 1px #ac2020;
}

.battleship-square--ship-sunk {
  background-color: #000814;
  border: solid 1px #000814;
}

.battleship-square--place-highlight {
  background-color: #52b788;
  border: solid 1px #307354;
}

.battleship-square--place-highlight-invalid {
  background-color: #ef1a1e;
  border: solid 1px #660708;
}

.hidden {
  display: none;
}
